@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

/* color guide
  <div className="bg-teal-300 text-teal-300 border-teal-300" style={{backgroundColor : "#80BCBD"}}> #80BCBD </div>
  <div className="bg-green-300 text-green-300 border-green-300" style={{backgroundColor : "#AAD9BB"}}> #AAD9BB </div>
  <div className="bg-lime-200 text-lime-200 border-lime-200" style={{backgroundColor : "#D5F0C1"}}> #D5F0C1 </div>
  <div className="bg-amber-100 text-amber-100 border-amber-100" style={{backgroundColor : "#F9F7C9"}}> #F9F7C9 </div>
*/
